<header>
  <img
    src="assets/image.png"
    alt="Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Nathan Fellipe</h1>
</header>
<aside>
  <div class="container">
    <p></p>
    <p></p>
    <p></p>
    <nav>
      <ul>
        <li>
          <a href="" target="_blank" class="btn btn-primary">Download CV</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/pulse/topics/home/?trk=guest_homepage-basic_guest_nav_menu_articles" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>
      </ul>
    </nav>
    <section>
        <figure>
            <img src="" alt="">
            <figcaption>
                <a href="" target="_blank" >
                    <strong>
                        Envie uma mensagem para:
                    </strong>
                    <p>WhatsApp: (38) 9 9820-9073</p>
                </a>
            </figcaption>
        </figure>
        <figure>
            <img src="" alt="">
            <figcaption>
                <a href="mailto:nathan1fellipe@gmail.com" target="_blank" >
                    <strong>
                        Envie um e-mail para:
                    </strong>
                    <p>nathan1fellipe&#64;gmail.com</p>
                </a>
            </figcaption>
        </figure>
    </section>



  </div>
</aside>
